.home {
    display: flex;
    min-height: calc(100vh + 500px);
    background-image: linear-gradient(150deg, var(--additional-3) -50%, var(--primaryColor) 50%);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    width: 100%;
    flex-direction: column;

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        p { margin-top: 25px; }

        div > h1 {
            // padding: 0;
            font: 700 144px/110% var(--primaryFont);
            color: var(--additional-1);
            letter-spacing: -2.88px;

            .d {
                display: inline-block;
                width: 230px;
                height: 100px;
                border-radius: 0px 50px 50px 0px;
                border: 18px solid var(--additional-1);
                margin-left: 10px;
            }
        }

        .socials {
            position: absolute;
            right: 0;
            margin-top: -50px;
            margin-right: 5%;
            display: inline-flex;
            flex-direction: column;
        }
    }

    .background > img {
        width: 100%;
        border-radius: 5rem;
        background-size: cover;
    }

    @media (max-width: 1010px) {
        min-height: calc(100vh + 60px);

        .content {
            div > p {
                margin-top: 17px;
            }

            div > h1 {
                font-size: 100px;

                .d {
                    border: 15px solid var(--additional-1);
                    width: 150px;
                    height: 70px;
                }
            }
        }

        .background > img {
            border-radius: 3rem;
        }
    }

    @media (max-width: 768px) {
        padding: 1rem 5%;

        .content {
            div > h1 {
                font-size: 80px;
    
                .d {
                    width: 120px;
                    height: 56px;
                    border: 12px solid var(--additional-1);
                }
            }
        }
    }

    @media (max-width: 550px) {
        align-items: start;
        gap: 40px;

        .content {
            flex-direction: column;
            gap: 80px;

            div > h1 {
                margin-top: -40px;
            }

            .socials {
                gap: 30px;
                position: initial;
                flex-direction: row;
            }
        }

        .background {
            img {
                border-radius: 1rem;
            }
        }
    }

    @media (max-width: 486px) {
        .content {

            div > h1 {
                font-size: 47px;

                .d {
                    border: 8px solid var(--additional-1);
                    width: 67px;
                    height: 33px;
                    margin-left: 5px;
                }
            }
        }
    }
}