.text {
    display: flex;
    align-items: center;
    height: 14px;
    border-left: 2px solid var(--additional-4);
    color: var(--additional-4);
    font: 500 14px/1 var(--primaryFont);
    letter-spacing: -0.28px;
}