.founder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 100vh;
    padding: 1rem 10%;
    background-image: linear-gradient(160deg, var(--additional-3) -50%, var(--primaryColor) 50%);

    .content {
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: end;
        padding: 1.5rem;
        width: 360px;
        height: 500px;
        border-radius: 32px;
        border: 1px solid var(--additional-4);

        div {
            h2 {
              color: var(--additional-1);
              font: 700 32px var(--primaryFont);
            }
      
            span {
              color: var(--additional-1);
              font: 300 18px var(--primaryFont);
              letter-spacing: -0.36px;
            }
        }

        p {
            font: 500 24px var(--primaryFont);
            letter-spacing: -0.48px;
            color: var(--additional-1);
        }
    }

    .img {
        height: 500px;
        
        img {
            width: 100%;
            height: 100%;
        }
    }

    @media(max-width: 768px) {
        padding: 1rem 5%;
        flex-direction: column;
    }

    @media(max-width: 972px) {

        .content, .img {
            width: 100%;
            height: auto;    
        }
    }
}