.header {
    width: 100%;
    max-width: 1920px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 60px;
    color: var(--additional-1);
    z-index: 999;
     
    .search {
        display: flex;
        align-items: center;
        
        .btnSearch {
            cursor: pointer;
            background: transparent;
            border: none;
        }
        
        input {
            width: 150px;
            margin-left: 30px;
            position: absolute;
            border-bottom: 1px solid var(--additional-1) !important;
            outline: none;
            border: none;
            color: var(--additional-1);
            font-size: 20px;
            background: transparent;
        }
    }

    .logo {
        font: 700 24px var(--primaryFont);
        color: var(--additional-1);
    }

    nav {
        position: absolute;
        left: 0;
        margin-top: 520px;
        padding: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        background: linear-gradient(90deg, var(--additional-3) -5%, var(--secondaryColor) 40%, var(--primaryColor));
    }

    .btnMenu {
        background: none;
        display: block;
        border: none;
        cursor: pointer;
    }

    @media(max-width: 768px) {
        padding: 0 5%;

        .logo {
            display: none;
        }

        nav > .btnHeader {
            padding: 10px 16px;
        }
    }
}

.backgroundHeader, .fixedHeader {
    background: linear-gradient(90deg, var(--additional-3) -5%, var(--secondaryColor) 40%, var(--primaryColor));
}