.enter {
    display: flex;
    padding: 1rem 10%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 200px;

    @media (max-width: 768px) {
        padding: 1rem 5%;    
    }

    @media (max-width: 500px) {
        button {
            padding: 10px 16px;
        }
    }
}