.insight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 1rem 10%;
    background-image: linear-gradient(180deg, #2565e1 -50%, #1a232e 50%);

    p {
        display: flex;
        align-items: center;
        height: 14px;
        border-left: 2px solid rgba(199, 199, 199, 0.50);
        color: rgba(199, 199, 199, 0.50);
        font-family: var(--primaryFont);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.28px;
    }

    h2 {
        color: #FFF;
        font-family: var(--primaryFont);
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -1.28px;
        text-align: center;
    }

    .card {
        .cardItem {
            gap: 30px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 30px;

            div {
                h2 {
                    color: #FFF;
                    font-family: var(--primaryFont);
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: -0.84px;
                    width: 646px;
                    margin-bottom: 30px;
                    text-align: start !important;
                }
                
                h4 {
                    opacity: .4;
                    width: 646px;
                    color: #FFF;
                    font-family: var(--primaryFont);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 300;
                }
            }

            .icon {
                width: 100px;
                height: 100px;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #F9F9F9;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }

    @media(max-width: 768px) {
        padding: 1rem 5%;

        h2 {
            // font-size: 32px;
        }

        .card {
            .cardItem {

                img {
                    width: 100%;
                }
                
                div {
                    h2, h4 {
                        width: 100%;
                    } 
                }
            }
        }
    }
}