footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10%;
    flex-wrap: wrap;
    gap: 30px;
    border-top: 2px solid var(--additional-2);

    h2 {
        font-size: 24px !important;
    }

    .copyright {
        color: var(--additional-2);
        text-align: center;
        font: 300 14px var(--primaryFont);
    }

    .socials {
        display: flex;
        gap: 30px;
    }

    @media (max-width: 681px) {
        justify-content: center;
    }
}