.peopleontheworld {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    padding: 1rem 10%;
    background-image: linear-gradient(130deg, var(--secondaryColor) -50%, var(--primaryColor) 50%);

    h2 {
        text-align: center !important;
    }

    img {
        width: 100%;
    }

    @media (max-width: 768px) {
        padding: 1rem 5%;
    }
}